/* ESTILOS GENERALES */
/* creo variables */
:root{
    /* creo variables pra los colores */

    --ligth-red:hsl(0, 100%, 67%);
    --ligth-red-background: hsla(0, 100%, 67%, 8%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow-background: hsl(39, 100%, 56%, 8%);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-background: hsl(166, 100%, 37%, 8%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-background: hsl(234, 85%, 45%, 8%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%,);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* creo variables para los tamaños de letras */
    --sm: 12px;
    --sm2: 14px;
    --estandar: 18px; /* este es el tamaño por defecto */
    --md: 24px;
    --bg: 32px;
    --gi: 48px;
    
}

/* importo la leta  */
body {
    font-family: 'Hanken Grotesk', sans-serif;
}

/* CONTENEDOR PRINCIPAL */
.container{
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR DEL RESULTADO TOTAL */
.big-result-container{
    background: linear-gradient(var(--light-slate-blue), var(--cobalt-blue));
    border-radius: 8%;
    width: 250px;
    height: 360px;
    margin: 48px 0;
}

/* Primer parrafo */
.result-title{
    color: var(--pale-blue);
    opacity: 70%;
    text-align: center;
    height: var(--md);
    margin: 28px 0 0 0;
}

/* numero grande */
.container-score{
    background: linear-gradient(var(--violet-blue
    ), var(--light-royal-blue)); 
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 24px auto;

}

.big-score{
    text-align: center;
    color: var(--white);
    font-size: var(--gi);
    margin: 12px 0 0 0;
    font-weight: bold;
}

.text1{
    text-align: center;
    color: var(--pale-blue);
    opacity: 30%;
    font-size: var(--sm);
    margin: 0;
}

.text2{
    text-align: center;
    color: var(--white);
    font-size: var(--md);
    font-weight: bold;
    margin: 8px auto;
}

.message {
    text-align: center;
    color: var(--pale-blue);
    opacity: 60%;
    font-size: var(--sm);
    margin: 0 40px;
}

/* CONTENEDOR DEL RESUMEN */

.summary-container{
    background: var(--white);
    border-radius: 0 8% 8% 0;
    box-shadow: 10px 10px 5px 0px var(--pale-blue);
    width: 250px;
    height: 360px;
    margin: 48px 0;
}

.summary-title{
    text-align: left;
    margin: 24px 24px;
    font-size: var(--estandar);
    font-weight: bold;
}

/* REACTION */
.reaction{
    display: flex;
    background-color: var(--ligth-red-background);
    margin: 24px 12px 12px 24px;
    height: 40px;
    border-radius: 8px;
}

.reaction img {
    width: 15px;
    margin: 0px 4px 0 4px;

}

.text-reaction{
    text-align: left;
    font-size: var(--sm2);
    color: var(--ligth-red);
    font-weight: bold;
    margin: 10px 0px 0px 4px;
}

.score-reaction{
    font-size: var(--sm2);
    color: var(--persian-blue);
    font-weight: bold;
    margin: 10px 0 0 64px;
}

.score-reaction-total{
    font-size: var(--sm2);
    color: var(--persian-blue);
    opacity: 50%;
    font-weight: bold;
    margin: 10px 0 0 4px;
}

/* MEMORY */
.memory{
    display: flex;
    background-color: var(--orangey-yellow-background);
    margin: 0px 12px 12px 24px;
    height: 40px;
    border-radius: 8px;
}

.memory img {
    width: 15px;
    margin: 0px 4px 0 4px;

}

.text-memory{
    text-align: left;
    font-size: var(--sm2);
    color: var(--orangey-yellow);
    font-weight: bold;
    margin: 10px 0px 0px 4px;
}

.score-memory{
    font-size: 14px;
    color: var(--persian-blue);
    font-weight: bold;
    margin: 10px 0 0 64px;
}

.score-memory-total{
    font-size: 14px;
    color: var(--persian-blue);
    opacity: 50%;
    font-weight: bold;
    margin: 10px 0 0 4px;
}

/* VERBAL */
.verbal{
    display: flex;
    background-color: var(--green-teal-background);
    margin: 0px 12px 12px 24px;
    height: 40px;
    border-radius: 8px;
}

.verbal img {
    width: 15px;
    margin: 0px 4px 0 4px;

}

.text-verbal{
    text-align: left;
    font-size: var(--sm2);
    color: var(--green-teal);
    font-weight: bold;
    margin: 10px 0px 0px 4px;
}

.score-verbal{
    font-size: 14px;
    color: var(--persian-blue);
    font-weight: bold;
    margin: 10px 0 0 78px;
}

.score-verbal-total{
    font-size: 14px;
    color: var(--persian-blue);
    opacity: 50%;
    font-weight: bold;
    margin: 10px 0 0 4px;
}

/* VISUAL */
.visual{
    display: flex;
    background-color: var(--cobalt-blue-background);
    margin: 0px 12px 12px 24px;
    height: 40px;
    border-radius: 8px;
}

.visual img {
    width: 15px;
    margin: 0px 4px 0 4px;

}

.text-visual{
    text-align: left;
    font-size: var(--sm2);
    color: var(--cobalt-blue);
    font-weight: bold;
    margin: 10px 0px 0px 4px;
}

.score-visual{
    font-size: 14px;
    color: var(--persian-blue);
    font-weight: bold;
    margin: 10px 0 0 80px;
}

.score-visual-total{
    font-size: 14px;
    color: var(--persian-blue);
    opacity: 50%;
    font-weight: bold;
    margin: 10px 0 0 4px;
}

/* BOTON */
button{
    background-color: var(--dark-gray-blue);
    border-radius: 20px;
    height: 40px;
    width: 85%;
    border: none;
    margin: 12px 0 0 24px;
    color: var(--white);
    font-size: (--sm2) ;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(var(--light-slate-blue), var(--cobalt-blue));
}

/* LINKS */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: var(--dark-gray-blue); 
    text-decoration: none;
}

@media (max-width: 375px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .big-result-container{
        border-radius: 0 0 8% 8%;
        width: 100%;
        height: 320px;
        margin: 0;
    }

    .summary-container{
        background: var(--white);
        width: 100%;
        height: 360px;
        margin: 0;
    }
}
